.nav-section
  %a.nav-padded.nav-link{href:link}
    = title
  .dropdown
    - unless defined? dropdown
      - dropdown = []
    - dropdown.each do |entry|
      = link_to(entry[:name], entry[:url])
