.nav-bar
  %a.nav-padded#logo{href:'/'}
    = 'chris juchem'
  = render 'navbar/navlink', title: "About", link:'/about', dropdown:AboutController.pages
  = render 'navbar/navlink', title: "Projects", link:'/projects', dropdown:ProjectsController.pages
  = render 'navbar/navlink', title: "Lorem Ipsum", link:'#'
