.writeup
  .page-title
    = "About the Site"
  .section
    .section-text
      %p
        = "There were two main reasons I decided to build this website. The first was simply |
          that I wanted to have my own website detailing all the projects I have worked on |
          that I could list on my resume. The second, however, was directly tied to my work |
          experience. While on co-op at Alignable, I worked mostly on backend features and |
          wanted to learn more about frontend web development. Additionally, as I was |
          preparing to go back to Alignable for my second work stint, I wanted to refresh my |
          memory of Ruby and Rails, so I spent the week after the semester befre starting |
          working with the language creating this website." |
