$bg-color: #7987A1;

$text-color: #333;
$logo-color: #bbb;

$nav-bg-color: #555;
$nav-hover-color: red;
$nav-category-color: $text-color;

$link-color: $text-color;
$link-hover-color: #000;
$link-visited-color: #666;