@import 'colors';

body {
  background-color: $bg-color;
  color: $text-color;
  font-size: 1em;
  margin: 0;

  font-family: verdana, arial, helvetica, sans-serif;
}

main {
  margin: 15px;
}

a {
  color: $text-color;
  &:visited {
    color: $link-visited-color;
  }
  &:hover {
    color: $link-hover-color;
  }
}

p {
  margin: 1em 0;
  line-height: 1.25;
}